*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    ---background-color: rgba(0, 108, 151, 0.555);
    --font-size:40px;
    --secondary-background: rgb(173, 216, 230)
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #021273;
    color: white;

}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 1.2em;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    color: white;
}

main{
    min-height: 100vh;
}

.me{
    display: flex;
    margin: 100px auto;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(0, 108, 151, 0.555);
    border-radius: 80px;
    padding: 20px;
    max-width: 1100px;
    height: 60vh;
    justify-content: space-between;
}

.me img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;

}
#home{
    background-color: var(--secondary-background);
    border-radius: 80px;
    margin: 100px auto;
    padding: 30px;
    max-width: 1300px;
    
}

.home-buttons{
    font-size: 30px;
}
.fa-github{
    color: black;
}
.fa-linkedin{
    color: darkblue;
}

.cv-button{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}

.text1-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.text1-container h2{
    font-size: var(--font-size);
    
}

#about{
    background-color: var(--secondary-background);
    border-radius: 80px;
    margin: 100px auto;
    padding: 30px;
    max-width: 1300px;
}

.about-container{
    background-color: var(---background-color);
    padding: 100px 10%;
    text-align: center;
    border-radius: 80px;
    max-width: 1100px;
    margin: 50px auto;
}

.about-container h2{
    margin-bottom: 20px;
    font-size: var(--font-size);
}

#skills-achievements{
    background-color: var(--secondary-background);
    border-radius: 80px;
    margin: 100px auto;
    padding: 30px;
    max-width: 1300px;
}

.skills{
    background-color: var(---background-color);
    padding: 100px 10%;
    text-align: center;
    border-radius: 80px;
    max-width: 1100px;
    margin: 50px auto;
}

.skills h2{
    margin-bottom: 20px;
    font-size: var(--font-size);
}

.achievements{
    background-color: var(---background-color);
    padding: 100px 10%;
    text-align: center;
    border-radius: 80px;
    max-width: 1100px;
    margin: 50px auto;
}

.achievements h2{
    font-size: var(--font-size);
}

.certificate-div img{
    width: 100px;
    height: 100px;

}

.certificate-div{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    margin-top: 20px;
    
    
}

.c1{
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 20px;
    
}

.c2{
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 20px;
    
}

.c3{
    
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 20px;
}

.c4{
    
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 20px;
}

#projects{
    background-color: var(--secondary-background);
    padding: 100px 10%;
    text-align: center;
    border-radius: 80px;
    max-width: 1100px;
    margin: 50px auto;
    
}

.projects-container{
      background-color: var(---background-color);
    border-radius: 80px;
    margin: 100px auto;
    padding: 30px;
    max-width: 1300px;

}

.projects-container img{
    width: 100px;
    height:100px;
}

footer{
    background-color: var(---background-color);
    padding: 50px;
    color: white;
    text-align: center;
}

.copyrights{
    margin: 40px auto;
}

.foot-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
}

